*{
    font-size: 12pt;
    font-family: 'Source Sans Pro', sans-serif;
}

html, body, #root{
    height: 100%;
    background-color: #efefef;
}

.App{
    height: 100%;
    background-color: #efefef;
    padding-top: 30px;
    box-sizing: border-box;
}

.low{
    color: #1b8dc6;
}
.high{
    color: #ff3126;
}

.navigation{
    top: 0;
    width: 100%;
    overflow: hidden;
    background: #333;
    text-align: center;
    height: 30px;
    position: fixed;
    z-index: 100;
}

.navigation .title{
    position: absolute;
    left: 8px;
    top: 5px;
    color: white;
    font-weight: bold;
    font-style: italic;
}

.navigation .author{
    position: absolute;
    top: 5px;
    right: 8px;
    color: white;
}

.navigation a{
    position: relative;
    z-index: 2;
    display:inline-block;
    width: 20px;
    height: 20px;
    background: #ccc;
    color: #ccc;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 1px;
    border: 1px solid black;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    font-size: 15px;

    transition: color 0.3s, background 0.3s;
}
.navigation a.active, .navigation a:hover{
    background: #eee;
    color: #333;
}

.chart-info{
    text-align: left;
    white-space: normal;
    max-width: 800px;
    margin: auto;
}
.chart-info button{
    width: 100%;
    height: 16px;
    padding: 4px;
    font-size: 12px;
    vertical-align: middle;
    border-radius: 1px;
    position: relative;
}
.chart-info button i{
    position: absolute;
    top: 1px;
    right: 40px;
}
.chart-info button span{
    position: absolute;
    top: 0px;
    font-size: 12px;
    margin-left: 20px;
    right: 8px;
}

.inliner{
    text-align: center;
    white-space: nowrap;
}

.inliner > div{
    display: inline-block;
}

.inliner .detail-nav{
    height: 50px;
    width: 800px;
    display: block;
    margin: auto;
    padding-bottom: 10px;
    box-sizing: border-box;
    position: relative;
}

.inliner .detail-nav button:last-child{
    position: absolute;
    right: 0;
}

.inliner .detail-nav button:first-child{
    position: absolute;
    left: 0;
}

.chart{
    text-align: center;
    align-items: center;
    height: calc(100% - 40px);
    min-height: 600px;
    min-width: 800px;
    margin: 20px 20px;
    box-sizing: border-box;
}

.chart svg{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.10);
    border-radius: 4px;
}

.line, .dot, .pdot, .pline{
    clip-path: url(#clip);
}
.pdot{
    pointer-events: none;
}

.day text{
    color: black;
    pointer-events: none;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    padding: 3px;
    color: black;
    background: #efefef;
    font-size: 10pt;
    border-radius: 2px;
    pointer-events: none;
    display: none;
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.selectable{
    cursor: pointer;
}

.axis--x path {
  display: none;
}

.axis-y g{
    display: none;
}

button, .button{
    font-size: 12pt;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(173, 173, 173);
    border-radius: 4px;
    border: 1px solid rgb(99, 99, 99);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: rgb(122, 122, 122) 0px 1px 12px;
    outline: none;
}
button:hover, .button:hover{
    background-color: #bababa;
}
button:active, .button:active {
    position: relative;
    top: 1px;
    outline: none;
}
